@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot');
    src: url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.headerContainer {
    background-image: linear-gradient(to bottom, #051937, #293652, #4b576e, #6f798c, #959daa);
    border-bottom: 1px solid #051937;
    height: 42.962963%;
    position: relative;
}

.header {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 9.7982709%;
}

.logo {
    font-family: "roboto_condensedbold", "Sans Serif";
    font-size: 25px;
    color: #ffffff;
    display: inline-block;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .logo1Half { */
/*     color: #ffffff; */
/*     margin: 0px; */
/*     font-size: 25px; */
/* } */

.logo2Half {
    color: #b8b8b8;
    margin: 0px;
    /* font-size: 25px; */
}

.headerButtonsGroup {
    display: inline-block;
    float: right;
    margin-right: 25%;
}

.headerButton1 {
    background-color: #d4a418;
    display: inline-block;
    border: none;
    color: #ffffff;
    padding: 7px 23px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "robotobold", "Sans Serif";
    margin-right: 15px;
}

.headerButton2 {
    background-color: #d4a418;
    display: inline-block;
    border: none;
    color: #ffffff;
    padding: 7px 23px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "robotobold", "Sans Serif";
    margin-left: 15px;
}

.infoText {
    font-family: "robotoregular", "Sans Serif";
    font-size: 36px;
    color: #ffffff;
    margin-left: 4.0277778%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    background-color: #ffffff;
    height: 57.037037%;
}

.footer {
    background-image: linear-gradient(to top, #051937, #293652, #4b576e, #6f798c, #959daa);
    border-top: 1px solid #051937;
}

